
.icon-truck:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-tint:before { content: '\e803'; } /* '' */
.icon-cogs:before { content: '\e805'; } /* '' */
.icon-garden:before { content: '\e81a'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
