/*Menu*/
#farmResMenu{
    background-color: #0f0a0994;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#farmResMenu > *{
    padding-inline: 10px;
    text-align: left;
}

/*Resources list*/
@media screen and (max-height: 639px) {
    #chemicals,#workers,#crops,#plots,#myOrders{
        height: 50vh;
    }
}
@media screen and (min-height: 640px) {
    #machines,#chemicals,#workers,#crops,#plots,#myOrders{
        height: 55vh;
    }
}
#crops,#chemicals,#workers,#plots{
    background-color: rgba(34, 25, 22, 0.64);
    padding:5px;
    min-height: 60%;
    overflow-y: auto;
    color:black;
}

#cropsLegend,.unit{
    grid-template-columns: 35% 25% 30%;
}
#cropsLegend{
    padding: 10px;
    display: grid;
    background-color: #711e0ebd;
    grid-auto-flow: column;
}
