.tile{
    background-color: deepskyblue;  
    text-align: center;
    display: grid;
}
.tile:hover{
    opacity: 0.8;
    color:#22281b;
    cursor:pointer;
}
.farm{
    width: 75%;
    padding:25px;
}
.farm h2, .farm h4{
    padding-bottom: 5px;
}
#farmCode{
    padding-top:10px;
}
#menu{
    width:80%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(2,minmax(40%,1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: auto;
    padding:15px;
}
@media screen and (max-width:580px){
    .farm{
        width:100%;
    }
}


/*FarmManage*/
#farmInfo{
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    margin-top: 15px;
    color:black;
}
#farmInfo span{
    padding: 5px;
}
#farmCodeManage{
    padding: 25px 15px;
    display: flex;
    color:black;
}
#farmCodeManage p{
    padding-right: 10%;
}
#farmCodeValue{
    user-select: text;
}
#getCodeResult span{
    padding:10px;
}

/*Farm content data status*/
.getDataStatus,.filterInfo{
    color:red;
    padding:15px;
}

/*Farm content*/
.equipment-content{
    background-color: #35988475;
    border-radius: 15px;
    padding: 15px;
    color: #fbfdff;
    height:100%;
}
.searchButton{
    padding: 3px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.searchButton:focus{
    outline: 2px solid #1b910a;
}
.legend{
    padding:10px;
    background-color: #711e0ebd;
    display: grid;
    grid-auto-flow: column;
}
#options{
    width:55%;
    margin: 10px 0px;
}
#options p, #farmOrdersOptions p{
    padding-bottom: 2px;
}
#options label, #farmOrdersOptions label{
    padding: 10px;
    display: inline-table;
}
#options label:hover, #farmOrdersOptions label:hover{
    color:#04d004;
    cursor:pointer;
}
.addButtons{
    display: contents;
}

.filterInfo{
    display: none;
}


/*Vehicle & machine info*/
.backToList{
    color:rgb(7, 82, 7);
    text-align: left;
    padding: 5px;
    width: max-content;
    background-color: #7ff00ec7;
}
.backToList:hover{
    cursor: pointer;
    color:rgb(21, 145, 42);
}
.vehicleImg{
    width:40%;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vehicleImg img {
    background-color: beige;
    width: 300px;
    height: 110px;
    min-width: 120px;
    max-width: 180px;
    z-index: 2;
}
.vehicleImg img:hover{
    cursor:pointer;
    background-color: rgba(151, 79, 79, 0.53);
}
.imgInfo{
    display: none;
    position: absolute;
    z-index: 1;
}
.vehicleImg img:hover + .imgInfo{
    display: inherit;
}
.overall-info{
    display:flex;
    justify-content: center;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.vehicle-infoname{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vehicle-infoname > *{
    padding: 5px;
}
.vehicle-info{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.vehicle-info p{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    padding: 5px;
}
.vehicle-info form{
    display: grid;
}
.vehicle-info form > label{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    padding: 5px;
}
.vehicleContent{
    background-color: rgba(127, 255, 212, 0.664);
    margin-top: 20px;
}
.vehicle-actions{
    padding:15px;
}
.vehicle-actions button{
    padding: 7px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    background-color: #151c08;
    color: antiquewhite;
}

/*Plots info*/
.plot-info{
    display: grid;
    grid-template-columns: 50% 50%;
}

.plotOverall{
    text-align: left;
    padding: 5px;
}

.plotLocalization{
    padding: 5px;
}

.plotHistory{
    background-color: #84725a;
    height: 150px;
    overflow-y: auto;
    border-radius: 3px;
    padding:1px;
}

@media screen and (max-width:730px) {
    .plot-info{
        display: flex;
        flex-direction:column;
    }
}
#plotsLegend,#plots .unit{
    grid-template-columns: 20% 50% 30%;
}
.plotHistoryUnit:hover{
    cursor: pointer;
    background-color: rgb(103, 122, 122);
    color: azure;
}
.plotHistoryUnit p{
    font-size: .8em;
    display: none;
}
.plotHistoryUnit p:first-child{
    border-top: 1px dashed #4cac31;
}
.plotHistoryUnit{
    padding:1px;
    background-color: antiquewhite;
    margin: 2px;
    border-bottom: 1px solid #a86319;
    border-top: 1px solid #a86319;
}
.plotHistoryHeader{
    text-align: center;
    padding:5px;
}
.plotInfo{
    padding:1px;
    margin-left:5px;
}
.emptyPlotHistory{
    text-align: center;
}


/*Worker info*/
.userInfoContent{
    display:flex;
    justify-content: space-around;
    margin-top: 25px;
}
.userPhoto{
    height: 150px;
    width: 150px;
}

/*Worker list*/
.worker-list{height: 100%;}

#workersLegend, #workers .unit{
    grid-template-columns: 40%;
}

/*Crops info*/


/*Chemicals*/
#chemicalsLegend, #chemicals .unit{
    grid-template-columns: 30% 15% 15%;
}


@media screen and (max-width: 660px) {
    
}


/*.equipment-content{
    background-color: #b8860bd9;
}*/

#getImage{
    display: none;
}

/*OwnOrders*/
#myOrders .unit, #orders .unit{
    background-color: #060505c4;
}
#ordersLegend, #myOrders .unit, #orders .unit{
    grid-template-columns: 28% 40% 32%;
}
.changeForm select{
    width: 50%;
    background-color: #093637;
    color: aliceblue;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 3px;
    padding:5px;
}


/*Farm orders*/
#orders,#myOrders{
    height:55vh;
    overflow-y: auto;
    min-height: 60%;
    background-color: rgba(134, 121, 117, 0.64);
    padding:5px;
}

.order-info{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template-columns: 70% 25%;
}
.orderDTO{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.orderDTO *{
    padding:5px;
}
#feedback{
    resize: none;
    border-radius: 10px;
    border: none;
    background-color: #87878e;
    padding:3px;
}