#garageMenu{
    background-color: #0f0a0994;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
@media  screen and (max-width: 420px) {
    #garageMenu{
        flex-direction: column-reverse;
    }
    #options{
        width:100%;
    }
    .addButtons{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
    }
}

#garageMenu > *{
    padding-inline: 10px;
}
.addContent:hover{
    cursor:pointer;
    color:rgb(11, 170, 11);
}



/*lista maszyn*/
#machines{
    background-color: rgba(34, 25, 22, 0.64);
    padding:5px;
    min-height: 30%;
    max-height: 80%;
    overflow-y: auto;
    color: black;
}
#garageLegend{
    background-color: #711e0ebd;
}
#garageLegend, #machines .unit{
    grid-template-columns: 25% 15% 20%; 
}
#garageLegend::after{
    content: 'Informacje';
}
.unit{
    background-color: gainsboro;
    margin-bottom: 7px;
    border-radius: 3px;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
}
.unit::after{
    grid-column: auto;
}
.unit:hover{
    opacity: 0.7;
    cursor: pointer;
}
.MachInfo{
    background-color: greenyellow;
}
.MachEdit{
    background-color: rgb(218, 218, 11);
}
.MachDelete{
    background-color: crimson;
}
button:hover{
    cursor:pointer;
    opacity: 0.8;
}
@media screen and (max-width:830px) {
    #garageLegend::after{
        display: none;
    }
    #machines .unit, #garageLegend{
        grid-template-columns: 30% 15%;
    }
}




/*ogolne*/
h3{
    padding:15px;
    background-color: #3e2a2242;
}
.data{
    padding:20px;
    overflow-y: hidden;
}

/*Add Machine/Vehicle*/
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.popup p{
    padding:15px;
    font-size: 25px;
}
.popup-main,.popupGarageEdit{
    background-image: linear-gradient(to bottom,#166f5e,#97f756);
    height: 65%;
    overflow: auto;
    border-radius: 12px;
    min-width: 300px;
    color: #3c0303;
}
.popupGarageEdit{
    height: auto;
}
.popupForm form{
    overflow: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: 75%;
}
.popupForm form label{
    display: inherit;
    padding:10px;
}
#addForm label input,.editForm label input{
    border-radius: 3px;
    border: none;
    padding: 3px;
    outline: none;
    min-width: 100px;
}
#addForm label input:focus, .editForm label input:focus{
    outline: 2px solid #6c0909;
}
#addForm label select, .editForm label select{
    background-color: #093637;
    color: aliceblue;
    border-radius: 3px;
    border: none;
    padding: 5px;
    height:30px
}
.popupButtons{
    padding: 15px;
}
.popupButtons button{
    padding:7px;
    margin: 4px;
    background-color: #151c08;
    border: none;
    border-radius: 5px;
    color: antiquewhite;
}
@media screen and (max-width:650px){
    .popupForm form{
        grid-template-columns: 1fr;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .popup-main,.popupGarageEdit{
        width: 90%;
    }
}

/*Delete Vehicle*/
.popup-delete{
    background-color: darkkhaki;
}

/*Edit vehicle*/

/*Upload image*/
.uploadImagePopup{
    width:50%;
    min-height: 170px;
    height: 7%;
}
.uploadImagePopup p{
    font-size: 17px;
}