/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    user-select: none;
}

body{
    min-height: 100vh;
    width:100vw;
    color:#0b0a00;
}

a{
    text-decoration: none;
}

nav{
    width:100vw;
    min-height: 320px;
    min-width: 320px;
    height: 10%;
    min-height: 40px;
    display:flex;
    justify-content: space-around;
    background-color: rgba(40, 162, 139, 0.78);
    align-items: center;
}

.links{
    display: flex;
    width:35%;
    justify-content: space-around;
}
.link{
    color:#0b0a00;
}
.link:hover{
    color: #235500;
    cursor: pointer;
}
.unseenLink{
    text-shadow: 2px 2px 2px #FF0000;
}
.unseenLink:hover{
    text-shadow: none;
}

.logo{
    width:45vw;
    text-align: center;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right:5px;
    min-width: 160px;
}
#logo{
    height: 100%;
    border-radius: 37%;
    background-color: #1c171096;
}
#logo:hover{opacity:0.9}
@media screen and (max-width:580px) {
    #logo{
        width:100%;
    }
}

footer{
    width:100vw;
    background-color:rgba(12, 88, 50, 0.83);
    text-align: center;
    height: 10%;
    min-height: 45px;
    min-width: 320px;
}
.footerLinks{
    display: flex;
    justify-content: space-around;
}
.footerHeader{
    padding:10px;
}

main{
    background-color: #d2691e38;
    width: 100vw;
    text-align: center;
    min-height: 80%;
    min-width: 320px;
    display:flex;
    justify-content: center;
}
.welcome{
    align-items: center;
}

#container,.content{
    min-height: 550px;
    position: absolute;
    height:100vh;
}
.content{
    background-image: url('../backgroundImage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto;
    overflow-x: hidden;
}
#glowna{
    height:50%;
    text-align: center;
}

#wreg{
    padding:3vh 4vw;
    background-color: rgba(7, 75, 16, 0.795);
    border:none;
    border-radius: 5px;
    font-weight: bold;
    cursor:pointer;
}
#wreg:hover{
    background-color: rgb(76, 112, 21);
}

.menu div{
    width:25px;
    height:4px;
    background-color:rgb(14, 6, 133);
    margin:5px;
    transition: all 0.3s ease;
}
.dashmenu div{
    width:4px;
    height:25px;
    background-color: rgb(14, 156, 14);
    margin:2px;
    transition: all 0.3s ease;
}

.menu,.dashmenu{
    display:none;
}

.dash-active{
    transform:translateX(0%);
}

@media screen and (min-width:581px){
    .dash{
        width:25%;
        min-width: 200px;
    }
}
@media screen and (max-width:580px){
    body{
        overflow-x: hidden;
    }
    .links{
        position:absolute;
        right:0px;
        height:90%;
        width: 100vw;
        background-color:darksalmon;
        top:10%;
        display: flex;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 1s ease-in;
        transition: opacity 0.3s ease-in;
    }
    .link{
        opacity:0;
    }
    .link:hover{
        background-color: rgb(216, 56, 56);
    }
    .menu{
        display: block;
        cursor:pointer;
    }
    .dashmenu{
        display: flex;
        cursor: pointer;
    }
    .dash{
        position:absolute;
        width:100vw;
        height: 90%;
        /*transform: translateX(-100%);*/
        transition: transform 0.5s ease-in;
        left:-100%;
        overflow-y: scroll;
    }
    .dashLink{
        opacity:0;
    }
    .dash-active{
        transform:translateX(100%);
    }
}

.nav-active{
    transform:translateX(0%);
    opacity:1;
}



@keyframes linksFade{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}
@keyframes dashLinksFade{
    from{
        opacity:0;
        transform: translateX(-50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}

.active .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.active .line2{
    opacity:0;
}
.active .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.dashmenu-active .row1{
    transform: rotate(45deg) translate(3px,-6px);
}
.dashmenu-active .row2{
    opacity:0;
}
.dashmenu-active .row3{
    transform: rotate(-45deg) translate(-4px,-7px);
}

/* login site*/
.loginSection{
    padding:25px;
    background-color: #7fff00a3;
    width:50%;
    min-width:200px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
}
.loginSection h3, .loginSection p{
    padding:12px;
    margin-top:5px;
    color: #0d0d0b;
}
.loginSection form{
    display: flex;
    flex-direction: column;
}
.loginSection p:hover{
    cursor:pointer;
    color: #660a0a;
}
.loginSection form label{
    padding: 10px 0px;
}
.loginInput,.registerInput{
    border-radius: 5px;
    padding: 4px;
    border:3px solid #5bac91;
    transition: 0.5s;
    outline: none;
    width: 100%;
}
.loginInput:focus,.registerInput:focus{
    border: 3px solid blueviolet;
}
#logRegButton{
    border:none;
    border-radius: 5px;
    background-color: rgb(126, 31, 126);
    cursor:pointer;
    padding:15px 32px;
    margin:auto;
}
#logRegButton:hover{
    background-color: rgb(167, 27, 167);
}
.info{
    color:rgb(104, 14, 14);
    padding: 5px;
}
.registerLabel{
    padding: 5px;
}
.registerForm label{
    display: grid;
}
@media screen and (min-width: 640px) {
    .registerForm label{
        display: grid;
        grid-template-columns: 50% auto;
    }
}

@media screen and (min-width: 470px) {
    .loginInput{
        width: unset;
    }
}


/*chat*/
.chatContent{
    display:flex;
    height:90%;
    overflow-y:hidden;
    text-align:center;
}
.chatBar{
    width: 35%;
    background-color: #40b758c2;
    text-align: center;
    color: #f7ff00;
}
.chatData{
    width:65%;
    overflow-y: hidden;
    background-color: #d5181866;
}
.chatSearch{
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#searchWorker{
    margin-top:10px;
}
.chatSearch input{
    padding: 7px;
    border:none;
    border-radius: 3px;
    width:70%;
}
.chatContacts{
    margin-top: 15px;
    height:70%;
    overflow-y:scroll;
    scrollbar-color: rgb(31, 58, 9) rgb(19, 19, 56);
    scrollbar-width:thin;
}
/* width */
.chatContacts::-webkit-scrollbar, .messages::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .chatContacts::-webkit-scrollbar-track, .messages::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(19, 19, 56); 
    background-color:rgb(19, 19, 56);
    border-radius: 10px;
  }
   
  /* Handle */
  .chatContacts::-webkit-scrollbar-thumb, .messages::-webkit-scrollbar-thumb {
    background: rgb(31, 58, 9); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .chatContacts::-webkit-scrollbar-thumb:hover, .messages::-webkit-scrollbar-thumb:hover {
    background: rgba(31, 58, 9,0.8); 
  }
.contact{
    border-bottom: 2px solid rgb(6, 28, 31);
    padding: 15px;
}
.contact:hover{
    background-color: rgba(105, 92, 92, 0.466);
    cursor:pointer;
}
.chatRoom{
    height:90%;
}
.messages{
    display: block;
    height:90%;
    min-height: 500px;
    overflow-y: auto;
    margin-bottom: 5px;
    scrollbar-color: rgba(31, 58, 9, 0.58) rgba(19, 19, 56, 0.51);
    scrollbar-width:thin;
    scroll-snap-type: y proximity;
}
.msg{
    background-color: #0c8c8c;
    margin:20px 10px;
    padding: 17px 15px;
    border-radius: 7px;
    color: #c7ff00;
    text-align: left;
    max-width: 45%;
    width: fit-content;
}
.receivedMessage{
    float: right;
    clear: both;
}
.sendedMessage{
    float: left;
    clear: both;
    background-color: #267493;
}
.inputMessages{

}
#msgInputArea{
    width: 100%;
    min-height: 60px;
    resize: none;
    border-radius: 5px;
    border: none;
    background-color: #9b7edb;
    padding: 2px;
    font-size: 85%;
    height: 100%;
}


